<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${day} + ' View'">Day View</title>
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/day-view.css}" />
  <script th:src="@{/static/js/day-view.js}"></script>
</head>
<body>
<div class="day-view-container">
  <h1 th:text="${day} + ' View'">Day View</h1>
  <table class="day-view-table">
    <thead>
    <tr>
      <th>Meal</th>
      <th>Food</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="meal : ${meals}">
      <td th:text="${meal}"></td>
      <td th:text="${mealPlan[day][meal]}" th:onclick="|showModal('${day}', '${meal}')|"></td>
    </tr>
    </tbody>
  </table>
  <button onclick="resetDayView()">Reset</button>
</div>
</body>
</html>
