@font-face {
  font-family: 'Lobster';
  src: url('./assets/fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PatrickHand';
  src: url('./assets/fonts/PatrickHand-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffcddc;
  background-image: url('./assets/images/backgroundpattern.png');
  background-repeat: repeat;
  background-size: auto;
  font-family: 'PatrickHand', cursive;
  color: #ff78a8;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
  color: #ff78a8;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: inherit;
}

.App-link {
  color: #ff78a8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 80vh;
  padding-top: 120px;
}

.page-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.header-buttons {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.loading {
  alignment: center;
}

.table-row {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cell-name {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.1rem;
  cursor: pointer;
}

.cell-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.edit-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: block;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.content-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  max-width: 95vw;
}

.content-table-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}