.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: transparent;
    min-height: 100vh;
}

.landing-page-container h1 {
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    gap: 10px;
}

.landing-page-container .table-button {
    background-color: white;
    color: orange;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'PatrickHand', cursive;
}

.landing-page-container .table-button:hover {
    background-color: darkorange;
}
