.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay.open {
    display: flex;
}

.modal-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #c0b9a6;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #c0b9a6;
    color: #ff78a8;
    font-family: 'PatrickHand', cursive;
}

.custom-dropdown {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.dropdown-button {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #c0b9a6;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    font-family: 'PatrickHand', cursive;
    color: #ff78a8;
}

.dropdown-button .arrow-down {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-menu {
    display: block;
    position: absolute;
    background-color: #fefefe;
    font-family: 'PatrickHand', cursive;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    top: 100%;
    left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease-in-out;
    font-family: 'PatrickHand', cursive;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.save-button {
    background-color: #ff78a8;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-family: 'Lobster', cursive;
}

.cancel-button {
    background-color: #ff78a8;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-family: 'Lobster', cursive;
}

.trash-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.error-message {
    position: fixed;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #c0b9a6;
    max-width: 200px;
    max-height: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    animation: fadeIn 0.3s ease-in-out;
    transition: opacity 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}