.tape-button {
    position: relative;
    width: 192px;
    height: 60px;
    background-image: url('../images/whitetape.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    color: #ff78a8;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
    background-color: transparent;

    -webkit-mask-image: url('../images/whitetape.png');
    -webkit-mask-size: cover;
    mask-image: url('../images/whitetape.png');
    mask-size: cover;
}

.tape-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
